<form>
  <mat-form-field>
    <input matInput placeholder="First Name" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Last Name" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Username" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Password" required>
  </mat-form-field>

  <button mat-raised-button color="primary">Register</button>
  
  <p class="redirect-link">Go back to? <a routerLink="/login">Login</a></p>
</form>


