
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-form-field {
  width: 100%;
  margin-bottom: 0px;
}

form {
  width: 364px;
}

button {
  width: 100%;
}

.redirect-link {
  text-align: center;
  margin-top: 20px;
}

.redirect-link a {
  color: #007bff;
  text-decoration: none;
}

.redirect-link a:hover {
  text-decoration: underline;
}

.password-input-container {
  display: flex;
  align-items: center;
}

.password-toggle {
  cursor: pointer;
  margin-left: -32px; 
  color: rgba(18, 114, 241, 0.54); 
}

